.card-with-image {
  --background: transparent;
  --box-shadow: none;
  position: relative;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.card-content {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
